{% extends "stasiooo/core.html" %}
{% block title %}Edycja wpisu {{ post.title }}{% endblock title %}
{% block head %}{{ form.media }}{% endblock head %}
{% block body %}
<div class="container">
  <h2>Edycja wpisu {{ post.title }}</h2>
  <form action="{% url "post_edit" post.pk %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">Tytuł</label>
      <input class="form-control" maxlength="255" name="title" type="text" value="{{ post.title }}">
    </div>
    <input class="btn btn-primary btn-lg pull-right" type="submit" value="Zapisz" />
  </form>
</div>
{% endblock body %}
